# HRISHIKESH G KULKARNI - 21BAI1660
### hrishikesh.gkulkarni2021@vitstudent.ac.in

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Task - 01
num_observations = 4
num_features = 4

random_values = np.random.rand(num_observations, num_features)
df = pd.DataFrame(random_values)

In [3]:
df.head()

          0         1         2         3
0  0.757029  0.323729  0.046493  0.793787
1  0.144639  0.624590  0.734539  0.095155
2  0.157595  0.842829  0.456237  0.909123
3  0.364209  0.799444  0.187103  0.959299

In [4]:
#Task - 02
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

In [5]:
df.head()

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.757029        0.323729        0.046493        0.793787
1        0.144639        0.624590        0.734539        0.095155
2        0.157595        0.842829        0.456237        0.909123
3        0.364209        0.799444        0.187103        0.959299

In [6]:
#Task - 03
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.355868        0.647648        0.356093        0.689341
std          0.285733        0.235650        0.304226        0.402139
min          0.144639        0.323729        0.046493        0.095155
25%          0.154356        0.549375        0.151951        0.619129
50%          0.260902        0.712017        0.321670        0.851455
75%          0.462414        0.810290        0.525812        0.921667
max          0.757029        0.842829        0.734539        0.959299

In [7]:
#Task - 04
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [8]:
#Task - 04
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [9]:
#Task - 04
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [10]:
#Task - 04
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [11]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.757029        0.323729        0.046493        0.793787
1        0.144639        0.624590        0.734539        0.095155
2        0.157595        0.842829        0.456237        0.909123
3        0.364209        0.799444        0.187103        0.959299

In [12]:
#Task - 05
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.323729        0.046493
1        0.624590        0.734539
2        0.842829        0.456237
3        0.799444        0.187103

In [13]:
#Task - 05
df.iloc[:,1:3]

   Random value 2  Random value 3
0        0.323729        0.046493
1        0.624590        0.734539
2        0.842829        0.456237
3        0.799444        0.187103

---------------------THE END-------------------------------------------

HRISHIKESH G KULKARNI - 21BAI1660 

hrishikesh.gkulkarni2021@vitstudent.ac.in